<html>
<head>
<style>
body{background-image: url("https://www.imgbase.info/images/safe-wallpapers/photography/landscape/61693-lake_sunrise_wallpaper.jpg")
</style>

<center>
<img src="https://images.unsplash.com/photo-1476782916354-326ab24c93df?ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80" alt="nid" style="width:10%;">
</center>


<p><b>I do what I Love.
because I believe, by doing so, success will have no choice but to follow </p></b>

<p><b> This is what I have learned over the time.
 Most of us live with this impression that we don’t really have control over what we do, over what happens to us, over our happiness and our unhappiness, and that we are victims, and of course, as victims, all we know how to do, is defend ourselves. Because we spend so much time in the defending mode, we forget who we really are, we forget that we do have a choice and that we do have the ability to shift our lives in the right direction.</p></b>


</head>
</html>
