<html>
<head>


<a href="login.html"><button type="button">HOME</button></a>
<a href="description.html"><button type="button">DESCRIPTION</button></a>
<a href="photos.html"><button type="button">PHOTOS</button></a>
<a href="login.html"><button type="button">LOGIN</button></a>
<a href="signin.html"><button type="button">SIGNIN</button></a>

<table>

<style>
body {
        background-image: url("http://www.52dazhew.com/data/out/236/587545920-wallpaper-nature-spring.jpg ");
}

height:100%
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


</style>
</table>
</head>
<center>
<h1>This is my Mainpage page!</h1>
</center>

<center>
<img src="https://images.unsplash.com/photo-1476782916354-326ab24c93df?ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80" alt="nid" style="width:10%;">
</center>


</body>
</html>
